@using Astria.Framework.Utility
@using Astria.Framework.DataContracts
@model Astria.UI.Web.Models.GuestViewerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css/guestviewercss", "~/Content/css/Views/guestviewerViewcss")
    <title>@Constants.i18n("productTitle")</title>
</head>
<body>
    <noscript style="font-size: 28px; color: red; text-align: center;">
        @Constants.i18n("jsRequired1")<br />@Constants.i18n("jsRequired2")
    </noscript>
    <input type="hidden" id="useSSL" value="@Request.IsSecureConnection.ToString()" />
    <input type="hidden" id="BaseURI" value="@Url.Content("~")" />
    <input type="hidden" id="LoginURI" value="@Functions.GetAuthenticationProxyUrl()" />
    <input type="hidden" id="ServerVD" value="@Functions.GetSetting(Constants.SERVER_VD, "/FusionServer")" />
    <input type="hidden" id="bulkData" value="@Model.BulkData" />
    <input type="hidden" id="currentUser" value="@Model.CurrentUser" />
    <input type="hidden" id="commontemplates" value="@Model.CommonTemplates" />
    <input type="hidden" id="systemPreferences" value="@Model.SystemPreferences" />
    <input type="hidden" id="isSuperAdmin" value="false" />
    <input type="hidden" id="isInstanceAdmin" value="false" />
    <input type="hidden" id="maxRequestLength" value="@Model.MaxRequestLength" />
    <input type="hidden" id="isReadOnlyUser" value="@Model.IsReadOnlyUser.ToString()" />
    <input type="hidden" id="eclipseVersion" value="@Model.Version" />
    <input type="hidden" id="viewerOptions" value="@Model.Options" />
    @Scripts.Render("~/guestviewerjs")
        <div id="masterOfAll" style="display: none; width: 100%; height: 100%;">
            <div id="layout">
                <div id="header">
                    @*<div class="f_height">
                        <div id="dropdown">
                            <div class="parent clearfix">
                                <span class="ptitle">@Constants.i18n("productTitle")</span><span class="ui-icon ui-icon-triangle-1-s"></span>
                            </div>
                            <ul id="instanceList" class="children vert_scroll">
                                <li id="companyList" class="anchor">
                                    Welcome Guest of @Model.CompanyName
                                </li>
                                <li><span id="requestHelp" class="anchor">@Constants.i18n("requestHelp")</span></li>
                                <li><span id="helpDialogLiveChat" class="anchor">@Constants.i18n("liveChat")</span></li>
                                <li><span id="submitIdea" class="anchor">@Constants.i18n("submitIdea")</span></li>
                                @if (!String.IsNullOrWhiteSpace(Functions.GetSetting("WalkMeHttp", "")) && !String.IsNullOrWhiteSpace(Functions.GetSetting("WalkMeHttps", "")))
                                {
                                    <li><span id="walkMe" class="anchor" style="display: none;">@Constants.i18n("stepByStep")</span></li>
                                }
                            </ul>
                        </div>
                    </div>*@
                    <div id="tabs_list_container">
                        <ul id="tabs_list">
                            <li id="home_tab" class="tab tab_unselected disabled">
                                <a id="home_link" hidefocus="hideFocus">@Constants.i18n("home")</a>
                            </li>
                            <li id="retrieve_tab" class="tab tab_selected disabled">
                                <a id="retrieve_link" hidefocus="hideFocus">@Constants.i18n("retrieve")</a>
                            </li>
                            <li id="capture_tab" class="tab tab_unselected disabled">
                                <a id="capture_link" hidefocus="hideFocus">@Constants.i18n("capture")</a>
                            </li>
                            <li id="workflow_tab" class="tab tab_unselected disabled">
                                <a id="workflow_link" hidefocus="hideFocus">@Constants.i18n("workflow")</a>
                            </li>
                            <li id="reports_tab" class="tab tab_unselected disabled">
                                <a id="reports_link" hidefocus="hideFocus">@Constants.i18n("reports")</a>
                            </li>
                            <li id="forms_tab" class="tab tab_unselected disabled">
                                <a id="forms_link" hidefocus="hideFocus">@Constants.i18n("forms")</a>
                            </li>
                            <li id="admin_tab" class="tab tab_unselected disabled">
                                <a id="admin_link" hidefocus="hideFocus">@Constants.i18n("admin")</a>
                            </li>
                        </ul>
                    </div>
                    <div class="small_docstar_logo">
                    </div>
                </div>
                <div id="two_col">
                    <div id="col_border_top">
                    </div>
                    <div id="browse" class="light_shadow_right show_panel">
                    </div>
                    <div id="show_hide_panel">
                        <div id="hide_arrow">
                            <span id="collapse_bg"></span><span class="collapse_arrow"></span>
                        </div>
                    </div>
                    <div id="main">
                        <div id="tabs">
                            <div id="tab_panel_container">
                                <div id="retrieve_tab_panel" class="guestViewerContainer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <iframe id="download"></iframe>
    <iframe id="iprint" name="printing_frame" style="height: 0px; width: 0px; border: none;"></iframe>
    @RenderPage("~/Views/Shared/WorkflowTaskTemplates.cshtml")
    @RenderPage("~/Views/Shared/DialogTemplates.cshtml")
    @*
        Used to preload images, always hidden
    *@
    <img id="imgLoader" src="@UrlHelper.GenerateContentUrl("~/Content/images/transparent.png", new HttpContextWrapper(HttpContext.Current))" alt="imageloader" style="display:none" />

    <script type="text/javascript">
        $(document).ready(function () {
            window.isGuest = true;
            window.versioningLicensed = @Model.Licenses.Contains(TokenKey.Versioning).ToString().ToLower();
            window.formsLicensed = @Model.Licenses.Contains(TokenKey.Forms).ToString().ToLower();
            Templates.init();
            var options = JSON.parse($('#viewerOptions').val()); 
            window.gatewayPermissions = @((int)GatewayPermissions.NotSet);
            window.systemPreferences = new SystemPreferences();
            window.systemPreferences.add($.parseJSON($('#systemPreferences').val()));
            window.userPreferences = new UserPreferences(); //NOTE: Guest user preferences are never sent to the server.
            Utility.SetUserPreferenceWithoutAjax(ShowHidePanel.navPanelCollapsedPref, true);
            Utility.SetUserPreferenceWithoutAjax('viewMeta', JSON.stringify(options.DisplayMeta ? 'viewMeta' : 'hideMeta'));
            if (options.EmbeddedViewer) {
                $('#header').hide();
                $('#col_border_top').hide();
            }
            Page.authToken = '@Model.EncryptedToken';
            Page.init();
            new InitRouter();
            window.viewer = new GuestDocumentView();
            $('.guestViewerContainer').html(window.viewer.$el);
            ErrorHandler.bindOnCompleteOnSuccess();
            ErrorHandler.bindOnCompleteOnError();
            
            if (options.EmbeddedViewer) {                
                $('#browse').hide();
                $('#show_hide_panel').hide();
            }
            // Hiding and showing body when it is finished loading to prevent html showing before css is applied
            $('#masterOfAll').show();
        });
        $(window).load(function () {
            var options = JSON.parse($('#viewerOptions').val());            
            window.viewer.load(options);
        })
    </script>
</body>
</html>
