@using Astria.Framework.Utility;
<h2>@Constants.i18n("changePasswordTitle")</h2>
<ol id="pass_reset" class="left_labeled_layout ib">
{{
    var pword_strength = _.find(window.systemPreferences.models, function(a) {
       if (a.get('Name') === Constants.c.enforcePassStrength) {
            return true;
       }
    });
    var show_strength = false;
    if (pword_strength) {
        show_strength = pword_strength.get('Value') === 'True';
    }
    if (show_strength) {
    }}
    <p>@Constants.i18n("passwordStrengthText")</p>
    {{
    }
    var dummy = '';
}}
    <li>
        <label>@Constants.i18n("currentPassword"):</label>
        <input type="password" name="currentPassword" />
    </li>
    <li>
        <label>@Constants.i18n("newPassword"):</label>
        <input type="password" name="password1" />
    </li>
    <li>
        <label>@Constants.i18n("newPwConfirm"):</label>
        <input type="password" name="password2" />
    </li>
    <li>
        <div id="pass_success">
            <span class="success_message">@Constants.i18n("changesSavedSuccess")</span>
        </div>
    </li>
</ol>
<div class="buttons">
    <input type="button" name="save" value="@Constants.i18n("save")" />
</div>
<input type="hidden" name="pass_error" />