@using Astria.Framework.Utility;
<table class="customGridTable">
    <thead>
        <tr>
            <th class="customGridHeader customGridSortable" data-columnid="MachineName" style="{{=it.colWidth}}">
                @Constants.i18n("machineName")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="Username" style="{{=it.colWidth}}">
                @Constants.i18n("userName")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="Status" style="{{=it.colWidth}}">
                @Constants.i18n("status")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="PercentDone" style="{{=it.colWidth}}">
                @Constants.i18n("percentDone")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="StartedOn" style="{{=it.colWidth}}">
                @Constants.i18n("startedOn")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="EndedOn" style="{{=it.colWidth}}">
                @Constants.i18n("endedOn")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="Failures" style="{{=it.colWidth}}">
                @Constants.i18n("failures")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="Results" style="{{=it.colWidth}}">
                @Constants.i18n("results")
            </th>
            <th class="customGridHeader customGridSortable" data-columnid="Exception" style="{{=it.colWidth}}">
                @Constants.i18n("exception")
            </th>
        </tr>
    </thead>
    <tbody>
        @*Item Views rendered here*@
    </tbody>
    <tfoot>        
        <tr class="customGridPager">
            <td colspan="9">
                <div class="fright viewCount">
                    <span>{{=it.viewCount}}</span>
                </div>
                <div class="customGridPagerNavigation">
                    <span class="navigateFirstPage ui-icon ui-icon-seek-first {{=it.firstClass}}"></span>
                    <span class="navigatePreviousPage ui-icon ui-icon-seek-prev {{=it.prevClass}}"></span>
                    <span class="ui-separator"></span>
                    <span class="customGridPagerText">@Constants.i18n("page")</span>
                    <input class="navigateToPage" {{=it.navigateInputEnabled ? '' : 'disabled="disabled"'}} type="number" value="{{=it.page}}" />
                    <span class="customGridPagerText">{{=it.ofPages}}</span>
                    <span class="ui-separator"></span>
                    <span class="navigateNextPage ui-icon ui-icon-seek-next {{=it.nextClass}}"></span>
                    <span class="navigateLastPage ui-icon ui-icon-seek-end {{=it.lastClass}}"></span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>