@using Astria.Framework.Utility;
<h2>@Constants.i18n("passwordManagement")</h2>
<div id="container_passwordmanagment">
    <div id="passwordManagmentDTO">
        <fieldset>
            <ol class="unstyledList">
                <li>
                    <label>@Constants.i18n("passwordExpiration"):</label>
                    <select name="PasswordExpirationDays">
                        {{ for(i = 0; i < it.passwordExpirationDays.length; i++) { }}                                               
                        {{  if(it.selectedData.PasswordExpirationDays==it.passwordExpirationDays[i].ActualValue){}}
                    <option value="{{=it.passwordExpirationDays[i].ActualValue}}" selected="selected">{{=it.passwordExpirationDays[i].DisplayName}}</option>
                        {{  } else { }}
                    <option value="{{=it.passwordExpirationDays[i].ActualValue}}">{{=it.passwordExpirationDays[i].DisplayName}}</option>
                        {{  } }}
                        {{ } }}
                    </select>
                </li>
                <li>
                    <label>@Constants.i18n("enforcePassStrength"):</label>
                    {{= Utility.safeHtmlValue('PasswordStrengthEnforcement' , {attrs: {'type': 'checkbox', name: "PasswordStrengthEnforcement", checked: it.selectedData.PasswordStrengthEnforcement ? 'checked' : undefined }, tag:'input'})}}
                </li>
                <li>
                    <label>@Constants.i18n("isSamePasswordPolicy"):</label>
                    {{= Utility.safeHtmlValue('SamePasswordPolicy' , {attrs: {'type': 'checkbox', name: "SamePasswordPolicy", checked: it.selectedData.SamePasswordPolicy ? 'checked' : undefined }, tag:'input'})}}
                    <span>(@Constants.i18n("samePasswordPolicyDesc"))</span>
                </li>
                <li>&nbsp;</li>
                <li>
                    <label>@Constants.i18n("lockoutAfter"):</label>
                    <select name="FailedLoginAttempt">
                    {{ for(i = 0; i < it.failedLoginAttempt.length; i++) { }}                                               
                    {{  if(it.selectedData.FailedLoginAttempt==it.failedLoginAttempt[i].ActualValue){}}
                    <option value="{{=it.failedLoginAttempt[i].ActualValue}}" selected="selected">{{=it.failedLoginAttempt[i].DisplayName}}</option>
                    {{  } else { }}
                    <option value="{{=it.failedLoginAttempt[i].ActualValue}}">{{=it.failedLoginAttempt[i].DisplayName}}</option>
                    {{  } }}
                    {{ } }}
                    </select>
                    <span>@Constants.i18n("failedLogins")</span>
                </li>
                <li>
                    <label>@Constants.i18n("unlockAfter"):</label>
                    <input type="number" value="{{=it.selectedData.LockoutResetSeconds}}" name="LockoutResetSeconds" min="0" max="99999">
                    <span>@Constants.i18n("unlockPeriod")</span>
                </li>
            </ol>
        </fieldset>
    </div>
</div>
<div class="buttons">
    <input type="button" value="@Constants.i18n("save")" name="Save" />
    <input type="button" value="@Constants.i18n("resetLockedUsers")" name="Reset" />
    <div id="pass_management_success">
        <span class="success_message">@Constants.i18n("changesSavedSuccess")</span>
    </div>
    <div id="pass_management_reset">
        <span class="reset_message">@Constants.i18n("resetMessage")</span>
    </div>
</div>
<input type="hidden" name="pass_error" />

