@using Astria.Framework.Utility;
<dt>
    <span class="parent">
        @Constants.i18n("resultActions")
        <span class='dropdown_arrow ui-icon ui-icon-triangle-1-s'></span>
    </span>
</dt>
<dd>
    <ul class="children">
        {{ if(it.showViewOption) { }}                 @* View *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor view_results" title="@Constants.i18n("resultActionsView")">@Constants.i18n("resultActionsView")</span>
            </div>
        </li>
        <li>
            <hr />
        </li>
        {{ } }}
  
        {{=it.emailHtml}}                             @* Email *@
        {{ if(it.showExcludeGroups) { }}              @* Exclude Groups *@
        <li>
            <div class="menu_item">
                {{ if(it.excludeGroupsChecked) { }}
                <span class="search_result_check ui-icon ui-icon-check"></span>
                {{ } else { }}
                <span class="search_result_check">&nbsp;</span>
                {{ } }}
                <span class="anchor excludeGroups" title="@Constants.i18n("excludeGroups")">@Constants.i18n("excludeGroups")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showExportToCSVOption) { }}          @* Export to CSV *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor exportToCSV" title="@Constants.i18n("exportToCSV")">@Constants.i18n("exportToCSV")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showMergeOption) { }}                @* Merge *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor merge_results" title="@Constants.i18n("resultActionsMerge")">@Constants.i18n("resultActionsMerge")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showSecurityOption) { }}             @* Modify Security *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor change_sec" title="@Constants.i18n("changeSecurity")">@Constants.i18n("changeSecurity")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showMoveToOption) { }}               @* Move To *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor move_to" title="@Constants.i18n("moveTo")">@Constants.i18n("moveTo")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showPrintOption) { }}                @* Print *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor print_results" title="@Constants.i18n("print")">@Constants.i18n("print")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showRecordsManagementOption) { }}    @* Records Management *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor" title="@Constants.i18n("tk_RecordsManagement")">@Constants.i18n("tk_RecordsManagement")</span>
                <span class="ui-icon ui-icon-triangle-1-e right_icon">&nbsp;</span>
            </div>
            <ul class="submenu">

                @* Freeze *@
                <li>
                    <div class="menu_item freeze_results">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor" title="@Constants.i18n("freeze")">@Constants.i18n("freeze")</span>
                    </div>
                </li>
                @* Unfreeze *@
                <li>
                    <div class="menu_item unfreeze_results">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor" title="@Constants.i18n("unfreeze")">@Constants.i18n("unfreeze")</span>
                    </div>
                </li>
                @* Set Cutoff Date *@
                <li>
                    <div class="menu_item cutoff_results">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor" title="@Constants.i18n("cutoff")">@Constants.i18n("cutoff")</span>
                    </div>
                </li>
            </ul>
        </li>
        {{ } }}
        {{ if(it.showAllRemoveOptions) { }}           @* Remove *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor" title="@Constants.i18n("remove")">@Constants.i18n("remove")</span>
                <span class="ui-icon ui-icon-triangle-1-e right_icon">&nbsp;</span>
            </div>
            <ul class="submenu">
                @* Remove Folder or Inbox *@
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor remove_results" title="@Constants.i18n("removeFolderOrInbox")">@Constants.i18n("removeFolderOrInbox")</span>
                    </div>
                </li>
                @* Remove From Folder *@
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor removeFromFolder" title="@Constants.i18n("removeFromFolder")">@Constants.i18n("removeFromFolder")</span>
                    </div>
                </li>
                @* Remove From Inbox *@
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor removeFromInbox" title="@Constants.i18n("removeFromInbox")">@Constants.i18n("removeFromInbox")</span>
                    </div>
                </li>
            </ul>
        </li>
        {{ } }}
        {{ if(it.showRequestApprovalOption) { }}      @* Request Approval *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor request_approval" title="@Constants.i18n("requestApproval")">@Constants.i18n("requestApproval")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showDownloadOption) { }}             @* Save a Copy *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor download_results" title="@Constants.i18n("resultActionsDownload")">@Constants.i18n("resultActionsDownload")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showDueDateOption) { }}              @* Set Due Date *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor due_date_results" title="@Constants.i18n("setDueDate")">@Constants.i18n("setDueDate")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showPriorityOption) { }}             @* Set Priority *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor priority_results" title="@Constants.i18n("setPriority")">@Constants.i18n("setPriority")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showWatchOption) { }}                @* Watches *@
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor watch_results" title="@Constants.i18n("watches")">@Constants.i18n("watches")</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showAllWorkflowOptions || it.showAssignWorkflowOption ) { }}   
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor" title="@Constants.i18n("workflow")">@Constants.i18n("workflow")</span>
                <span class="ui-icon ui-icon-triangle-1-e right_icon">&nbsp</span>
            </div>
            <ul class="submenu">
                {{ if(it.showAssignWorkflowOption) { }}       @* Assign Workflow *@
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor assign_workflow" title="@Constants.i18n("assignWorkflow")">@Constants.i18n("assignWorkflow")</span>
                    </div>
                </li>
                {{ } }}
                {{ if(it.showAllWorkflowOptions) { }}   
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor reassignWfDocument" title="@Constants.i18n("changeAssignee")">@Constants.i18n("changeAssignee")</span>
                    </div>
                </li>             
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor changeWfDocuments" title="@Constants.i18n("changeWorkflow")">@Constants.i18n("changeWorkflow")</span>
                    </div>
                </li>
                {{ } }}             
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor resetWfDocuments" title="@Constants.i18n("resetWorkflow")">@Constants.i18n("resetWorkflow")</span>
                    </div>
                </li>
                {{ if(it.showAllWorkflowOptions) { }}   
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor removeWfDocItems" title="@Constants.i18n("removeFromWf")">@Constants.i18n("removeFromWf")</span>
                    </div>
                </li>
                <li>
                    <div class="menu_item">
                        <span class="spacer">&nbsp;</span>
                        <span class="anchor terminateItems" title="@Constants.i18n("terminateWf")">@Constants.i18n("terminateWf")</span>
                    </div>
                </li>
                {{ } }}
            </ul>
        </li>
        {{ } }}
        {{ if(it.showDeleteOption) { }}               @* Delete *@
        <li>
            <hr />
        </li>
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor delete_results" title="{{=it.deleteOptionLabel}}">{{=it.deleteOptionLabel}}</span>
            </div>
        </li>
        {{ } }}
        {{ if(it.showColumnChooserOption) { }}        @* Column Chooser *@
        <li>
            <hr />
        </li>
        <li>
            <div class="menu_item">
                <span class="spacer">&nbsp;</span>
                <span class="anchor column_chooser" title="@Constants.i18n("columnChooser")">@Constants.i18n("columnChooser")</span>
            </div>
        </li>
        {{ } }}
    </ul>
</dd>