@{
    Layout = null;
}
@model List<Astria.Framework.DataContracts.CompanyDTO>

@using Astria.Framework.Utility;
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Company Maintenance</title>
</head>
<body>
    <div id="commands">
        <input id="reindex" type="button" value="ReIndex Selected" />
    </div>

    <div id="companies">
        <div>
            <div style="width: 290px; float: left">Company Name</div>
            <div style="width: 120px; float: left">Provisioning Code</div>
            <div style="margin-left: 10px; float: left">Status</div>
        </div>
        @foreach (var item in Model)
        {
            <div style="clear:both">
                <div style="float:left;"><input type="checkbox" value="@item.CompanyInstances.First().Id" checked="checked" /> </div>
                <div style="width: 290px; float: left">@item.Name </div>
                <div style="width: 120px; float: left">@item.ProvisioningCode</div>
                <div style="margin-left: 10px; float: left" id="@item.CompanyInstances.First().Id" class="status"></div>
            </div>
        }
        
    </div>
    <input type="hidden" id="useSSL" value="@Request.IsSecureConnection.ToString()" />
    <input type="hidden" id="BaseURI" value="@Url.Content("~")" />
    <input type="hidden" id="LoginURI" value="@Functions.GetAuthenticationProxyUrl()" />
    <input type="hidden" id="ServerVD" value="@Functions.GetSetting(Constants.SERVER_VD, "/FusionServer")" />
    @Scripts.Render("~/constantjqueryjs")
    <script src="@Url.Content(String.Format("~/Content/LibsCompanyMgmt/CompanyManagement.js?v={0}", Astria.Framework.Utility.Functions.GetVersion()))" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var cm = CompanyManagement();
            cm.init();
        });
    </script>
</body>
</html>
